{% extends 'base.html' %}
    {% load cart_helper %}


    {%block content%}
    <h1>Welcome to our store</h1></div>
  
    <div class="container">
      <div class="row g-3">
        {% for book in books%}
        <div class="col">
          <div class="card" style="width: 12rem">
            <img src="{{ book.cover.url }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{ book.price }}</p>
              {% if book|is_in_cart:request.session %}
              <form action='{% url "home" %}' method="POST">
                {% csrf_token %}
                <input type="hidden" name="book" value="{{ book.id }}" />
                <input type="submit" class="btn btn-secondary " value="Remove" name="remove">
              </form>
             {% else %}
                <form action='{% url "home" %}' method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="book" value="{{ book.id }}" />
                  <input type="submit" class="btn btn-primary" value="Add to cart" name="add">
                </form>
            {% endif %}
            
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {%endblock%}
    